<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueKnight_entity_000_run_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{388,359}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{21,21},{388,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_run_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-5}</string>
                <key>spriteSize</key>
                <string>{368,377}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{422,1031},{368,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_run_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,2}</string>
                <key>spriteSize</key>
                <string>{330,363}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1228,1075},{330,363}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_run_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-3}</string>
                <key>spriteSize</key>
                <string>{326,375}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1228,727},{326,375}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_run_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-5}</string>
                <key>spriteSize</key>
                <string>{326,377}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{21,1083},{326,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_run_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-1}</string>
                <key>spriteSize</key>
                <string>{326,373}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1653,369},{326,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_run_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-2}</string>
                <key>spriteSize</key>
                <string>{326,371}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1655,21},{326,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_run_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-6}</string>
                <key>spriteSize</key>
                <string>{326,379}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{21,735},{326,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_run_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-7}</string>
                <key>spriteSize</key>
                <string>{328,379}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{427,681},{328,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_run_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-7}</string>
                <key>spriteSize</key>
                <string>{368,379}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{1653,717},{368,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueKnight_entity_000_walk_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,1}</string>
                <key>spriteSize</key>
                <string>{303,386}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{431,356},{303,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_walk_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{311,384}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{21,402},{311,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_walk_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{337,378}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{828,727},{337,378}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_walk_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{345,382}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{839,360},{345,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_walk_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-3}</string>
                <key>spriteSize</key>
                <string>{353,382}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{1249,352},{353,382}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_walk_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-1}</string>
                <key>spriteSize</key>
                <string>{317,386}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{841,21},{317,386}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_walk_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,1}</string>
                <key>spriteSize</key>
                <string>{313,388}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{431,21},{313,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BlueKnight_entity_000_walk_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,4}</string>
                <key>spriteSize</key>
                <string>{309,384}</string>
                <key>spriteSourceSize</key>
                <string>{389,394}</string>
                <key>textureRect</key>
                <string>{{1249,21},{309,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>knight.png</string>
            <key>size</key>
            <string>{2047,1430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea506c3e8cab0c4b99dbec1d5ffeda2f:482787227a6a5c1ff039f23c7dcdd249:2f689271eec2c0f2098986227ad4fb90$</string>
            <key>textureFileName</key>
            <string>knight.png</string>
        </dict>
    </dict>
</plist>
